body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
/* Navigation Bar */
.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar ul li a:hover {
    color: #4CAF50;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 15px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Content Section */
.content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    /* margin-bottom: 10rem; */
}

.content h2 {
    color: #4CAF50;
}
